#herobg {
  background-image: url("../images/hero/girlbg.jpg");
  background-size: cover;
}

#comingsoon{
  background-image: url("../images/bg/cs.jpg");
  background-repeat: no-repeat;
  background-size: 1000px 1000px;
  background-color: #eda0a8;
}

#nextgen {
  color: #3d999e;
}
.footercontent{
  justify-content: center;
}

#elixr {
  width: 500px;
}

@media (max-width: 575.98px) {
  #elixr {
    width: 300px;
  }
  #clientslider {
    display: table;
  }
}

@media (max-width: 375.98px) {
  #client {
    width: 200px;
  }
}

/* #footericons {
  text-align: center;
} */

#client {
  width: 200px;
}
